@model ConnectToMvcMusicStore.Models.Carts

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Carts</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CartId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CartId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AlbumId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AlbumId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Count)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Count)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DateCreated)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateCreated)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.RecordId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
